<app-slider-menu></app-slider-menu>

<div class="height-100 bg-light">
    <h1 class="text-center py-5 mt-5 display-4 mukta-regular sc-regular roboto-slab" style="font-size: 1.5rem;">
        <b>Envio de Documentos </b>
    </h1>
    <div>
        <form class="container-lg mt-5 d-flex justify-content-center " action="">
            <div class="row">
                <div class="col-lg-6">
                    <div class="control has-icons-left has-icons-right mb-5">
                        <div class="select is-rounded is-fullwidth">
                            <select>
                                <option disabled selected>Seleccione el estudiante</option>
                                <option>With options</option>
                            </select>
                        </div>
                        <span class="icon is-small is-left">
                            <i class="bi bi-person-circle"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="control has-icons-left has-icons-right mb-5">
                        <input class="input  is-rounded" type="email" placeholder="Ingresa su nombre completo"
                            style="padding-left: 40px;">
                        <span class="icon is-small is-left">
                            <i class="bi bi-person-circle"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="control has-icons-left has-icons-right mb-5">
                        <input class="input  is-rounded" type="email" placeholder="Ingresa su telefono"
                            style="padding-left: 40px;">
                        <span class="icon is-small is-left">
                            <i class="bi bi-telephone"></i> </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                </div>

                <div class="col-lg-6 ">
                    <div class="control has-icons-left has-icons-right ">
                        <input class="input  is-rounded" type="email" placeholder="Ingresa el motivo del envio"
                            style="padding-left: 40px;">
                        <span class="icon is-small is-left ">
                            <i class="bi bi-envelope"></i> </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-12 mt-3">
                    <div class="control has-icons-left has-icons-right mb-5 d-flex justify-content-center">
                        <div class="file is-fullwidth is-large">
                            <label class="file-label">
                                <input class="file-input" type="file" name="resume">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="bi bi-file-earmark-arrow-up"></i>
                                    </span>
                                    <span class=" titillium-web-regular file-label">
                                        Agregar archivo
                                    </span>
                                </span>
                            </label>
                        </div>

                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                </div>





                <div class="text-center col-lg-12 py-5">
                    <button class=" titillium-web-regular  button is-link is-outlined" routerLink="/slider"><span
                            class="titillium-web-regular">Enviar</span><i class="bi bi-send m-2"></i></button>

                </div>
            </div>


        </form>
    </div>

</div>