<app-slider-menu></app-slider-menu>

<div class="height-100 bg-light">
    <h1 class="text-center py-5 mt-5 display-4 mukta-regular sc-regular roboto-slab" style="font-size: 1.5rem;">
        <b>Exportacion
            PDF</b>
    </h1>
    <div class="text-center py-5">
        <button type="submit" data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-success"
            data-toggle="modal" data-target="#myModal" tooltip="Exportar informacion a PDF" tooltipPlacement="bottom">
            <i class="bi bi-file-pdf"></i>
        </button>

    </div>

    <div class="container ms-10 " style="padding: 100px;">
        <div class="container ms-5" style="text-align: center; justify-content: center;">
            <table class="table ms-5">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Grado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td> <!-- Mostramos el número de usuario -->
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>